@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

/* base style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.primary-text {
  color: #005fac;
}

.primary-dark {
  color: #151414;
}

.secondary-dark {
  color: #737272;
}

/* share */

.primaryBtn {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #005fac;
}
.secondaryBtn {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
}

/* hero section */

header {
  background-image: url("../images/banner/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

main,
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.hero div {
  width: 50%;
}

.hero {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
}

.hero p {
  margin: 25px 0;
}

/* previous year  */
main section {
  margin: 80px 0;
}
.previous {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.previous-content li {
  list-style: none;
  margin: 8px 0;
}

.previous-content p {
  margin: 24px 0 16px 0;
}

.previous-content i {
  color: #16d887;
}

/* my plans */
.plans-section{
text-align: center;
}
.plans-section h2{
    margin-bottom: 50px;
}

.plans{
    display: flex;
    justify-content: space-between;
}
.plans p{
    color: #737272;
}
.plans img{
    margin-bottom: 20px;
}